*{
    margin: 0;
    padding: 0;
}
header, nav, article, footer{
    display: block;
}
body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    overflow-x:hidden;
}
header{
    width: 100%;
    height: 650px;
    background-image: url("img/video.png");
    position: relative;
}
#name{
    color: #ffffff;
    font-style: italic;
    font-family: "Arial Narrow", sans-serif;
    font-weight: 50;
    font-size: 32px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#menu{
    float:right;
    width:200px;
    height:145px;
    background: #a41b15;
}
#sushi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:28px;
}
.buttons>li{
    float: left;
    list-style: none;
    width: 83px;
    color: #ffffff;
    padding: 8px;
    display: block;
    border-top: 1px solid #bb221a;
    border-bottom: 1px solid #bb221a;
    box-sizing: border-box;
}
.buttons>li:first-child{
                        width:34px;
                        border-top: 1px solid #bb221a;
                        border-bottom: 1px solid #bb221a;
                        border-right:1px solid #bb221a;
}
.buttons>li:last-child{
    border-left:1px solid #bb221a;
}
.buttons>li>img{
    float: left;
    margin-right: 15px;
}
div.search{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:280px;
    background: #ffffff;
    border-radius: 8px;
    height:45px;
    padding-left: 15px;
}
div.search>input.poisk{
    border: none; 
    outline: none;
    height: 45px;
    width:190px;
    font-style: italic;
    font-family: "Arial Narrow", sans-serif;
    color:#d7d3d3;
}
div.search>.buttonPoisk{
    background-color: #ad1e17;
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    background-image: url(img/search.png) no-repeat left;
    border-radius: 5px;
    margin-right: 10px;
}
div.search>.buttonPoisk>img{
    margin-right: 5px;
}
.big_sushi{
    position: absolute;
    top: 42%;
    left: 54%;
}
nav{
    width: 80%;
    height: 150px;
    margin: 100px auto 100px auto;
}
nav>h2{
    color:#522c25;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    margin-bottom: 55px;
}
ul.food{
    list-style: none;
    width:100%;
}
ul.food > li{
    float: left;
    vertical-align: bottom;
    width: 8.3%;
    height: 77px;
}
ul.food > li > a{
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                text-align: center;
                color: #000000;
                opacity: 0.5;
                filter: grayscale(100%);
                transition: 0.5s;
}
ul.food > li > a > img{
                    margin:0 auto 15px auto;
                    display: block;
                    height: 30px;
}
ul.food > li > a:hover{
    opacity: 1;
    filter: grayscale(0%);
}
section.products{
    width: 100%;
    padding-bottom: 50px;
    background: url(img/orders/products.png) no-repeat right bottom;
}
div.left-right{
    float: right;
    margin-right: 170px;
}
div.left-right > button{
                        background: none;
                        border: none;
                        outline: none;
}
div.left-right > button:first-child{
    margin-right: 10px;
}
.orders{
padding-top: 120px;
width: 100%;
height: 500px;
}
li.order{
    float: left;
    width: 201px;
    height: 251px;
    background-image: url(img/orders/back.png);
    list-style: none;
    position: relative;
    margin-right: 3%;
}
li.order > img{
    position: absolute;
    left: 10%;
    bottom: 60%;
}
li.order:first-child{
    margin-left: 10%;
}
li.order > h3{
    margin-top: 115px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #401710;
}
p.pieces{
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 12px;
    color:#d6d6d6;
}
p.description{
    display: block;
    width: 180px;
    text-align: center;
    font-size: 12px;
    color:#d6d6d6;
    margin: 10px auto 0 auto;
}
li.order > button{
    border: none;
    background: none;
    outline: none;
    transition-property: background-color, opacity;
    transition-duration: 0.2s;
    margin-left: 5px;
    position:absolute;
    bottom: 6px;
    text-align: center;
    width: 190px;
    height:50px;
    border-radius: 0 0 5% 5%;
    color: #a41b15;
}
li.order > button:active {
    background-color: #a41b15;
    opacity: 0.8;
}
section.reviews{
    width: 100%;
    height: 500px;
    position: relative;
}
section.reviews > .svg{
    position: absolute;
    bottom: -40%;
    width: 100%;
}
.review{
    width: 430px;
    height: 500px;
}