*{
    margin: 0;
    padding: 0;
}
header, nav, article, footer{
    display: block;
}
body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
header{
    width: 100%;
    height: 650px;
    background-image: url('img/video.png');
    position: relative;
}
#name{
    color: #ffffff;
    font-style: italic;
    font-family: "Arial Narrow", sans-serif;
    font-weight: 50;
    font-size: 32px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
nav{
    float:right;
    width:200px;
    height:145px;
    background: #a41b15;
}
#sushi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:28px;
}
.buttons>li{
    float: left;
    list-style: none;
    width: 83px;
    color: #ffffff;
    padding: 8px;
    display: block;
    border-top: 1px solid #bb221a;
    border-bottom: 1px solid #bb221a;
    box-sizing: border-box;
}
.buttons>li:first-child{
                        width:34px;
                        border-top: 1px solid #bb221a;
                        border-bottom: 1px solid #bb221a;
                        border-right:1px solid #bb221a;
}
.buttons>li:last-child{
    border-left:1px solid #bb221a;
}
.buttons>li>img{
    float: left;
    margin-right: 15px;
}
div.search{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:280px;
    background: #ffffff;
    border-radius: 8px;
    height:45px;
    padding-left: 15px;
}
div.search>input.poisk{
    border: none; 
    outline: none;
    height: 45px;
    width:190px;
    font-style: italic;
    font-family: "Arial Narrow", sans-serif;
    color:#d7d3d3;
}
div.search>.buttonPoisk{
    background-color: #ad1e17;
    border: none;
    outline: none;
    color: white;
    padding: 8px;
    background-image: url(img/search.png) no-repeat left;
    border-radius: 5px;
    margin-right: 10px;
}
div.search>.buttonPoisk>img{
    margin-right: 5px;
}
.big_sushi{
    position: absolute;
    top: 42%;
    left: 54%;
}